{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- White background overlay -->
<div class="overlay"></div>

<!-- Shopping Cart Banner -->
<div class="row">
  <div class="col text-center my-auto px-0">
    <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">SHOPPING CART
    </h4>
  </div>
</div>

<!-- Page container -->
<div class="container-fluid">
  <div class="row">
    <div class="col mt-3">
      <!-- If customer has items in cart the below table will be created -->
      {% if cart_items %}
      <div class="table-responsive-sm">
        <table class="table table-sm table-bordered table-striped">
          <thead class="text-white thead">
            <tr>
              <th scope="col" class="text-uppercase text-center">Product ID:</th>
              <th scope="col" class="text-uppercase text-center">Product:</th>
              <th scope="col" class="text-uppercase text-center">Price:</th>
              <th scope="col" class="text-uppercase text-center">Qty:</th>
              <th scope="col" class="text-uppercase text-center">Subtotal:</th>
            </tr>
          </thead>

          <!-- For each item in cart loop -->
          {% for item in cart_items %}
          <tr>
            <!-- Product ID -->
            <td class="py-2">
              <p class="my-0 small text-dark text-center">ID: {{ item.product.p_id|upper }}</p>
            </td>
            <!-- Product name -->
            <td class="py-2">
              <p class="my-0 text-dark text-center"><strong>{{ item.product.name }}</strong></p>
            </td>
            <!-- Product price -->
            <td class="py-2">
              <p class="my-0 text-dark text-center">€{{ item.product.price }}</p>
            </td>
            <!-- Quantity of product -->
            <td class="py-2">
              <p class="my-0 text-dark text-center">{{ item.quantity }}</p>
            </td>
            <!-- Subtotal -->
            <td class="py-2">
              <p class="my-0 text-dark text-center">€{{ item.product.price }}</p>
            </td>
          </tr>
          {% endfor %}

          <!-- Cart Summary -->
          <tr>
            <td colspan="5" class="pt-4 text-right">
              <!-- Shopping Cart Total -->
              <h6 class="mr-3"><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
              <!-- Delivery Charge -->
              <h6 class="mr-3">Delivery: €{{ delivery|floatformat:2 }}</h6>
              <!-- Grand Total Amount -->
              <h4 class="mt-2 mr-3"><strong>Amount Due: €{{ grand_total|floatformat:2 }}</strong></h4>
              <!-- Lets user know they qualify for free delivery if they spend x amount more -->
              {% if free_delivery_delta > 0 %}
              <p class="mb-1 text-danger">
                You qualify for free delivery if you spend <strong>${{ free_delivery_point }}</strong> more!
              </p>
              {% endif %}
            </td>
          </tr>

          <!-- Keep shopping & secure checkout button -->
          <tr>
            <td colspan="5" class="text-right">
              <!-- Keep shopping button -->
              <a href="{% url 'products' %}" class="btn cart-shopping-button rounded-0 btn-lg">
                <span class="icon">
                  <i class="fas fa-angle-double-left"></i>
                </span>
                <span class="">Keep Shopping</span>
              </a>
              <!-- Secure checkout button -->
              <a href="" class="btn cart-shopping-button rounded-0 btn-lg">
                <span class="">Secure Checkout</span>
                <span class="">
                  <i class="fas fa-lock"></i>
                </span>
              </a>
            </td>
          </tr>
        </table>
      </div>

      <!-- If shopping cart is empty -->
      {% else %}
      <h4 class="mt-3 mb-0">Your shopping cart is empty</h4>
      <br>
      <!-- Back to shopping button -->
      <a href="{% url 'products' %}" class="cart-shopping-button text-decoration-none px-3 py-3 text-center">
        <span class="text-center">
          <i class="fas fa-angle-double-left"></i>
        </span>
        <span class="">Lets go shopping</span>
      </a>
      {% endif %}
    </div>
  </div>

</div>
{% endblock %}