{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}"> -->
{% endblock %}

{% block page_header %}
<!-- <div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div> -->
{% endblock %}

{% block content %}
<!-- White background overlay -->
<div class="overlay"></div>
<div class="container-fluid">
  <!-- Checkout Banner -->
  <div class="row">
    <div class="col-12 text-center px-0">
      <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">
        MY PROFILE
      </h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="text-center mt-3 text-dark text-lg-left text-center">Delivery Address & Contact Details - {{ user }} </h4>
      <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="cart-shopping-button btn rounded-0 mt-2 text-center my-auto">Update Details</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row mt-3">
    <div class="col">
      <h4 class="text-center mt-0 text-dark text-lg-left text-center">Order History</h4>
      {{ orders }}
    </div>
  </div>
</div>




{% endblock %}