{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- White background overlay -->
<div class="overlay"></div>
<div class="container-fluid">
  <!-- Checkout Banner -->
  <div class="row">
    <div class="col-12 text-center px-0">
      <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">
        PURCHASE COMPLETE
      </h4>
    </div>
  </div>
</div>
<!-- Page container -->
<div class="container">
  <div class="row">
    <!-- Thank you for your business message -->
    <div class="col-12">
      <h3 class="text-center text-dark mt-4">Thank you for your business {{ order.first_name }}</h3>
      <!-- Horizontal divider -->
      <hr>
      <p class="text-center text-dark">We will now begin processing your order and we will send you a confirmation
        e-mail to {{ order.email }}</p>
      <p class="text-center text-dark">We hope you will be fully satisfied with the products you have purchased. A
        summary
        of your order can be found below:</p>
      <!-- Horizontal divider -->
      <hr>
      <!-- Order Details -->
      <div class="row">
        <div class="col">
          <h4 class="text-center mb-3"><span class="horiz-bar">| </span>Order Summary<span class="horiz-bar"> |</span>
          </h4>
        </div>
      </div>
      <!-- Order Number -->
      <div class="row text-center">
        <div class="col-12">
          <h5 class="mb-0">Order Number</h5>
        </div>
        <div class="col-12">
          <p class="mb-0"><span class="horiz-bar">| </span>{{ order.order_number }}<span class="horiz-bar"> |</span></p>
          <p class=""><span class="horiz-bar">| </span>Placed on: {{ order.date }}<span class="horiz-bar"> |</span></p>
        </div>
      </div>
      <!-- Horizontal divider -->
      <hr class="mt-0 mb-3">
      <!-- You Purchased Header -->
      <div class="row">
        <div class="col-12">
          <h5 class="mb-0 text-center">You Purchased:</h5>
        </div>
        <!-- Loop through each item individually including subtotal -->
        {% for item in order.lineitems.all %}
        <div class="col-12 ">
          <p class="text-center mb-0"><span class="horiz-bar">| </span>{{ item.quantity }}x {{ item.product.name }} =
            <span class="text-danger">€{{ item.product.price | calc_subtotal:item.quantity }}</span><span
              class="horiz-bar"> |</span>
            <br>
            <span class="small">- <em>(€{{ item.product.price }} each</em>) -</span></p>
        </div>
        {% endfor %}
      </div>
      <!-- Horizontal divider -->
      <hr class="mt-3 mb-0">
      <!-- Cart Breakdown -->
      <div class="row">
        <div class="col-12">
          <!-- Cost of products purchased header -->
          <h5 class="text-center mt-3 mb-0">Cost Breakdown:</h5>
          <!-- Order cost -->
          <p class="text-center mb-0"><span class="horiz-bar">| </span>Items Purchased: <span
              class="text-danger">€{{ order.order_total }}</span><span class="horiz-bar"> |</span></p>
          <!-- Delivery cost if applicable -->
          <p class="text-center mb-0"><span class="horiz-bar">| </span>Delivery Fee: <span
              class="text-danger">€{{ order.delivery_cost }}</span><span class="horiz-bar"> |</span></p>
          <!-- Total cost -->
          <p class="text-center mb-0"><span class="horiz-bar">| </span>Grand Total: <span
              class="text-danger">€{{ order.grand_total }}</span><span class="horiz-bar"> |</span></p>
        </div>
      </div>
      <!-- Horizontal divider -->
      <hr class="mt-3 mb-0">
      <!-- Delivery Address -->
      <div class="row">
        <div class="col-12">
          <!-- Delivery Details Header -->
          <h5 class="text-center mt-3 mb-0">Delivery Details:</h5>
          <!-- Name On Order -->
          <p class="text-center mt-0 mb-0"><span class="horiz-bar">| </span>Name: {{ order.first_name }}
            {{ order.last_name }}<span class="horiz-bar"> |</span></p>
          <!-- Street Address -->
          <p class="text-center mt-0 mb-0"><span class="horiz-bar">| </span>Address: {{ order.street_address1 }},
            <!-- Display street address 2 if entered -->
            {% if order.street_address2 %}
              {{ order.street_address2 }}
            {% endif %}
            <span class="horiz-bar"> |</span>
          </p>
          <!-- Town Or City -->
          <p class="text-center mt-0 mb-0"><span class="horiz-bar">| </span>Town/City: {{ order.town_or_city }}<span
              class="horiz-bar"> |</span></p>
          <!-- County -->
          {% if order.county %}
          <p class="text-center mt-0 mb-0"><span class="horiz-bar">| </span>County:
            {{ order.county }}
            <span class="horiz-bar"> |</span>
          </p>
          {% endif %}
          <!-- Eircode -->
          {% if order.eircode %}
          <p class="text-center mt-0 mb-0"><span class="horiz-bar">| </span>Eircode:
            {{ order.eircode }}
            <span class="horiz-bar"> |</span>
          </p>
          {% endif %}
          <!-- Country -->
          <p class="text-center mt-0 mb-0"><span class="horiz-bar">| </span>Country: {{ order.country }}<span
              class="horiz-bar"> |</span></p>
        </div>
      </div>
      <!-- Horizontal divider -->
      <hr class="mt-3 mb-0">
      <!-- Back to shopping prompt -->
      <div class="row">
        <div class="col-12 text-center">
          <!-- If user lands on page via their profile page -->
          {% if from_profile %}
          <p class="small text-center text-dark mb-1 mt-2">Back to my profile page?</p>
          <a href="{% url 'profile' %}" class="text-center btn cart-shopping-button rounded-0 btn-lg">
            <span class="">
              <i class="fas fa-angle-double-left"></i>
            </span>
            <span class="">My Profile</span>
          </a>
          {% else %}
          <!-- Back to shopping button -->
          <p class="small text-center text-dark mb-1 mt-2">Did you forget anything in your order?</p>
          <a href="{% url 'products' %}" class="text-center btn cart-shopping-button rounded-0 btn-lg">
            <span class="">
              <i class="fas fa-angle-double-left"></i>
            </span>
            <span class="">Back To Shopping</span>
          </a>
          {% endif %}
        </div>
      </div>
      <!-- Line break -->
      <br>
    </div>
  </div>
</div>
{% endblock %}