/* Global */

html {
  height: 100%;
}

body {
  background: url(/media/homepage/doctor5.jpg) no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  font-family: 'Josefin Sans', sans-serif;
}

/* Overlay to create a white background on desired pages */
.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #fff;
  z-index: -1;
}

/* Banner at top of pages describing page user is on */
.page_top_banner {
  background-color: #1fb4ff !important;
  color: #fff !important;
  border: 1px solid #c3c1c1;
}

/* Free delivery row */
.free_delivery_row{
  background-color: #1fb4ff;
  color: #fff;
}

/* Top Header Search Bar*/
.search-bar {
  border: 1px solid #1fb4ff !important;
}

.search-icon {
  background-color: #1fb4ff;
  border: 1px solid #1fb4ff !important;
  color: #fff;
}

.search-icon:hover {
  background-color: #fff;
  color: #1fb4ff;
  border: 1px solid #1fb4ff;
}

/* Homepage Testimonials */
.testimonial {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #555;
  color: #fff;
  opacity: 0.6;
}

.testimonials-row {
  margin-bottom: 50px;
}

.testimonial-image {
  border-radius: 50%;
  max-width: 40px;
} 

.list-group-item, .card {
  border: 0px solid #fff;
}

/* Products Page */
.horiz-bar {
  color: #1fb4ff !important;
}

/* Star rating icon */
.fa-star-half-alt:before {
  color: #1fb4ff !important;
}

.fa-qrcode:before {
  color: #1fb4ff !important;
}

/* Shopping Cart Page */

.cart-shopping-button {
  background-color: #1fb4ff !important;
  color: #fff !important;
}

.cart-shopping-button:hover {
  background-color: #fff !important;
  color: #1fb4ff !important;
  border: 1px solid #1fb4ff;
}