/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap'); */

html {
  height: 100%;
}

body {
  background: url(/media/doctor5.jpg) no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  font-family: 'Josefin Sans', sans-serif;
}