{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center my-auto px-0">
      <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">Covid Numbers
      </h4>
      <!-- <hr class="w-50 mb-1"> -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <iframe src="https://ourworldindata.org/grapher/daily-covid-cases-deaths?tab=map&country=~OWID_WRL" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>
    </div>
  </div>
</div>
{% endblock %}