<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">

    <!-- Shop PPE-->
    <li class="nav-item dropdown">
      <hr class="d-bloc d-lg-none">
      <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" href="#" id="shop-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Shop PPE<i class="fas fa-caret-down my-auto pl-2"></i>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="shop-link">
        <a href="{% url 'products' %}" class="dropdown-item">All PPE Products</a>
        <a href="" class="dropdown-item">Masks</a>
        <a href="" class="dropdown-item ">Covid Testing</a>
        <a href="" class="dropdown-item ">Hygiene</a>
        <a href="" class="dropdown-item">Wearable PPE</a>
      </div>
    </li>

    <!-- About -->
    <li class="nav-item dropdown">
      <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" href="" id="about-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        About<i class="fas fa-caret-down my-auto pl-2"></i>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="about-link">
        <a href="{% url 'about_us' %}" class="dropdown-item">About Us</a>
      </div>
    </li>

    <!-- Covid Info -->
    <li class="nav-item dropdown">
      <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" href="#" id="covid-info-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Covid Info<i class="fas fa-caret-down my-auto pl-2"></i>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="covid-info-link">
        <a href="{% url 'covid_numbers' %}" class="dropdown-item">Covid Numbers</a>
      </div>
    </li>

    <!-- Contact Us -->
    <li class="nav-item dropdown">
      <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" href="#" id="contact-us-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Contact Us<i class="fas fa-caret-down my-auto pl-2"></i>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="contact-us-link">
        <a href="" class="dropdown-item">Contact Us</a>
      </div>
    </li>

  </ul>
</div>