<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <!-- All Products-->
    <li class="nav-item dropdown">
      <hr class="d-bloc d-lg-none">
      <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" href="#" id="all-products-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Products<i class="fas fa-caret-down my-auto pl-2"></i>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="" class="dropdown-item">By Price</a>
        <a href="" class="dropdown-item ">By Rating</a> 
        <a href="" class="dropdown-item ">By Category</a>
        <a href="" class="dropdown-item">All Products</a>
      </div>
    </li>
    <!-- Masks -->
    <li class="nav-item dropdown">
      <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" href="#" id="masks-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Masks<i class="fas fa-caret-down my-auto pl-2"></i>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="masks-link">
        <a href="" class="dropdown-item">N95</a>
        <a href="" class="dropdown-item">KN95 </a>
        <a href="" class="dropdown-item">Surgical</a>
        <a href="" class="dropdown-item">Face Shields</a>
        <hr class="dropdown-divider">
        <!-- Need to create page below! -->
        <a class="dropdown-item" href="#">How to wear surgical mask</a>
        <!--  -->
      </div>
    </li>
    <!-- Covid Testing -->
    <li class="nav-item dropdown">
      <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" href="#" id="covid-test-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Covid Test Kits<i class="fas fa-caret-down my-auto pl-2"></i>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="covid-test-link">
        <a href="" class="dropdown-item">Rapid antigen test</a>
        <a href="" class="dropdown-item">PCR home test</a>
        <a href="" class="dropdown-item">Infrared Thermometer</a>
      </div>
    </li>
    <!-- Hygiene -->
    <li class="nav-item dropdown">
      <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" href="#" id="hygiene-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hygiene<i class="fas fa-caret-down my-auto pl-2"></i>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="hygiene-link">
        <a href="" class="dropdown-item">Sanitizer</a>
        <a href="" class="dropdown-item">Thermometers</a>
      </div>
    </li>
    <!-- Wearable PPE -->
    <li class="nav-item dropdown">
      <a class="text-uppercase font-weight-bold nav-link text-dark" href="#" id="wearable-ppe-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Wearable PPE<i class="fas fa-caret-down my-auto pl-2"></i>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="wearable-ppe-link">
        <a href="" class="dropdown-item">Gloves</a>
        <a href="" class="dropdown-item">Gowns</a>
      </div>
    </li>
  </ul>
</div>