<ul class="my-auto">
  <!-- Search -->
  <li class="list-inline-item">
    <a class="text-dark nav-link d-block d-lg-none px-1 pt-1 pb-0 search-a-tag" href="#" id="mobile-search" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <div class="text-center">
        <div><i class="fas fa-search fa-lg"></i></div>
        <p class="my-0 p-search">Search</p>
      </div>
    </a>
    <!-- Search form -->
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
      <form class="form" method="GET" action="{% url 'products' %}">
        <div class="input-group w-100">
          <input class="form-control rounded-0 search-bar" type="text" name="q" placeholder="Im looking for....">
          <div class="input-group-append">
            <button class="form-control btn rounded-0 search-icon" type="submit">
              <span class="icon">
                <i class="fas fa-search "></i>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </li>
  <!-- Open my account drop down menu -->
  <li class="list-inline-item dropdown">
    <a class="text-dark nav-link d-block d-lg-none px-1 pt-1 pb-0 my-account-a-tag" href="#" id="user-options" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <div class="text-center">
        <div><i class="fas fa-user-md fa-lg"></i></div>
        <p class="my-0 p-my-account">My Account<i class="fas fa-caret-down my-auto pl-2"></i></p>
      </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
      {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
      <a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a>
      {% endif %}
      <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a> 
      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
      {% else %}
      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
      {% endif %}
    </div>
  </li>
  <!-- Shopping Cart -->
  <li class="list-inline-item">
    <a class="px-1 pt-1 pb-0 {% if grand_total %}text-danger {% else %}text-dark{% endif %} nav-link d-block d-lg-none shopping-cart-a-tag"
      href="{% url 'view_cart' %}">
      <div class="text-center">
        <div><i class="fas fa-shopping-cart fa-lg"></i></div>
        <p class="my-0 p-cart-total">
          {% if grand_total %}
          ${{ grand_total|floatformat:2 }}
          {% else %}
          $0.00
          {% endif %}
        </p>
      </div>
    </a>
  </li>
</ul>