{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<!-- Page container-fluid -->
<div class="container-fluid">
  <!-- Logout Banner -->
  <div class="row">
    <div class="col text-center my-auto px-0">
      <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">LOGOUT
      </h4>
    </div>
  </div>
</div>
<!-- Logout confirmation container -->
<div class="container">
  <h2 class="text-center mt-3 text-dark">{% trans "Confirm Log Out" %}</h2>
  <p class="text-center mb-3 text-dark">{% trans 'Are you sure you want to log out?' %}</p>
  <!-- Logout button/form -->
  <form method="post" action="{% url 'account_logout' %}" class="text-center">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="cart-shopping-button btn rounded-0 mt-2 text-center" type="submit">{% trans 'Log Out' %}</button>
  </form>
</div>
{% endblock %}