{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<!-- White background overlay -->
<div class="overlay"></div>
<!-- Page container-fluid -->
<div class="container-fluid">
    <!-- Change Password Banner -->
    <div class="row">
        <div class="col text-center my-auto px-0">
            <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">
                CHANGE PASSWORD
            </h4>
        </div>
    </div>
</div>
<!-- Page Container -->
<div class="container">
    <h2 class="text-center mt-3">
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Enter your new password below" %}{% endif %}</h2>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="">{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a
        <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    {% if form %}
    <!-- Password reset form -->
    <form class="mt-3" method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form|crispy }}
        <!-- Submit password change button -->
        <input class="cart-shopping-button btn rounded-0 mt-2" type="submit" name="action" value="{% trans 'Change password' %}">
    </form>
    {% else %}
    <p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}