{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid">
    <!-- Password Reset Banner -->
    <div class="row">
        <div class="col text-center my-auto px-0">
            <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">PASSWORD RESET</h4>
        </div>
    </div>
</div>
<!-- Page Container -->
<div class="container text-lg-left text-center">
    <h2 class="mt-3 mb-0">{% trans "Password Reset" %}</h2>
    <!-- If user is authenticated display this -->
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <!-- Instructions paragraph -->
    <p class="">{% trans "If you have forgotten your password then enter your e-mail address below and we will send you an e-mail to enable you to reset it. Be sure to check your junk email folder." %}
    </p>
    <!-- Horizontal line -->
    <hr>
    <!-- Reset my password form/button -->
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{% trans 'Reset My Password' %}" class="cart-shopping-button btn rounded-0 mt-2 mb-2 text-center"/>
    </form>
    <!-- Support message -->
    <p class="">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}