{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid">
    <!-- Password Reset Banner-->
    <div class="row">
        <div class="col text-center my-auto px-0">
            <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">CHANGE PASSWORD DONE</h4>
        </div>
    </div>
</div>
<!-- Page container -->
<div class="container text-center">
    <h2 class="mt-3">{% trans "Change Password" %}</h2>
    <!-- Password confirmation message -->
    <p class="">{% trans 'Your password is now changed.' %}</p>
</div>
{% endblock %}
