{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid">
    <!-- Change Password Banner -->
    <div class="row">
        <div class="col text-center my-auto px-0">
            <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">CHANGE PASSWORD</h4>
        </div>
    </div>
</div>
<!-- Form container -->
<div class="container">
    <h2 class="text-center mt-3">{% trans "Change My Password" %}</h2>
    <!-- Change password form -->
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-lg-left text-center mt-3">
        {% csrf_token %}
        {{ form|crispy }}
        <!-- Change Password Button -->
        <button type="submit" name="action" class="cart-shopping-button btn rounded-0 mt-2 mb-2 text-center">{% trans "Change Password" %}</button>
        <br>
        <!-- Forgot password link -->
        <a href="{% url 'account_reset_password' %}" class="">{% trans "Forgot Password?" %}</a>
    </form>
</div>
{% endblock %}