{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<!-- White background overlay -->
<div class="overlay"></div>
<div class="container-fluid">
    <!-- Set Password Banner -->
    <div class="row">
        <div class="col text-center my-auto px-0">
            <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">SET PASSWORD</h4>
        </div>
    </div>
</div>
<!-- Page container -->
<div class="container">
    <h2 class="">{% trans "Set Password" %}</h2>
    <!-- Password form -->
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="cart-shopping-button btn rounded-0 mt-2 mb-2 text-center" type="submit" name="action"
            value="{% trans 'Set Password' %}" />
    </form>
</div>
{% endblock %}