{% extends "account/base2.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!-- White background overlay -->
<div class="overlay"></div>
<div class="container-fluid">
  <!-- PPE Products Banner -->
  <div class="row">
    <div class="col text-center my-auto px-0">
      <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">Sign Up
      </h4>
    </div>
  </div>

  <h1 class="text-center">{% trans "Sign Up" %}</h1>

  <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
      in</a>.{% endblocktrans %}</p>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %} " class="text-center">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="text-center">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>


{% endblock %}