{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<!-- White background overlay -->
<div class="overlay"></div>

<!-- Page container-fluid -->
<div class="container-fluid">
  <!-- Sign up Banner -->
  <div class="row">
    <div class="col text-center my-auto px-0">
      <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">SIGN UP
      </h4>
    </div>
  </div>
  <!-- Field Inputs Container -->
  <div class="container text-left">
    <h2 class="mb-0 mt-3 text-center">{% trans "Sign Up" %}</h2>
    <!-- Sign in prompt -->
    <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
        in</a>.{% endblocktrans %}</p>
    <!-- Sign up form -->
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="cart-shopping-button btn rounded-0 mt-2">{% trans "Sign Me Up" %} &raquo;</button>
    </form>
  </div>
</div>
<br>
{% endblock %}