{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- White background overlay -->
<div class="overlay"></div>

<!-- Main page container -->
<div class="container-fluid">

  <!-- PPE Products Banner -->
  <div class="row">
    <div class="col text-center my-auto px-0">
      <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">PPE Products
      </h4>
    </div>
  </div>


  <div class="row">
    <!-- Number of products available on products page or number of products available after a search -->
    <!-- <div class="col-12 col-md-6 order-md-first"> -->
    <div class="col-10 offset-1">
      <p class="text-muted my-2 ml-2 text-center text-md-left">
        <!-- If user searches using a search term or via a category the loop below will run -->
        {% if search_term or current_categories or current_sorting != 'None_None' %}
        <span class=""><a href="{% url 'products' %}">All Products</a> | </span>
        {% endif %}
        {{ products|length }} Products{% if search_term %} found for "{{ search_term }}"{% endif %}
      </p>
    </div>
  </div>

  <!-- Sort By Button -->
  <!-- <div class="col-10 offset-1">
      <div class="dropdown">
        <button class="btn border-0 dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sort By
        </button>
        <div class="dropdown-menu border-0" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">Category</a>
          <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price</a> -->
  <!-- <a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">Rating</a> -->
  <!-- </div>
      </div>
    </div> -->

  <!-- All Products Cards -->
  <div class="col-10 offset-1">
    <hr class="mt-1">

    <!-- <div class="row mt-1 mb-2"></div> -->

    <div class="row">
      <!-- Products for loop -->
      {% for product in products %}
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card">

          <!-- Card Images -->
          {% if product.image %}
          <a href="{% url 'product_details' product.id %}">
            <img src="{{ product.image.url}}" class="card-img-top img-fluid" alt="{{ product.name }}"
              style="height: 280px;">
          </a>
          {% else %}
          <a href="{% url 'product_details' product.id %}">
            <img src="/media/no_photo/no-photo.png" class="card-img-top img-fluid" alt="{{ product.name }}"
              style="height: 280px;">
          </a>
          {% endif %}

          <!-- Product Name (Header)-->
          <div class="card-body px-0 py-0">
            <!-- <h6 class="card-title mb-0 mt-3 text-center font-weight-bold text-dark"><span class="horiz-bar">|</span>
              Category: {{ product.category.friendly_name }} <span class="horiz-bar">|</span></h6> -->
            <h6 class="card-title mb-0 mt-1 text-center text-dark"><span class="horiz-bar">|</span>
              {{ product.name }} <span class="horiz-bar">|</span></h6>
          </div>

          <!-- Product Details -->
          <ul class="list-group list-group-flush">
            <!-- Product Price -->
            <li class="list-group-item px-0 py-0 text-center text-dark"><span
                class="horiz-bar">|</span> Price:
              €{{ product.price }}<span class="horiz-bar"> |</span></li>
            <!-- Product Protection Rating -->
            {% if product.rating %}
            <li class="list-group-item px-0 py-0 text-center text-dark"><span
                class="horiz-bar">|</span> Protection Level: &nbsp;<i
                class="fas fa-star-half-alt text-dark"></i>&nbsp;{{ product.rating }} / 5 <span
                class="horiz-bar">|</span></li>
            {% else %}
            <li class="list-group-item px-0 py-0 text-center text-dark">Not rated yet</li>
            {% endif %}
            <!-- Product Category If Loop-->
            {% if product.category %}
            <p class="mb-0 text-center text-dark"><span class="horiz-bar">|</span><span
                class="text-dark"> Category:</span>
              <a class="text-dark text-decoration-none" href="{% url 'products' %}?category={{ product.category.name }}">
                <!-- <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }} -->
                <i class="fas fa-qrcode"></i> {{ product.category.friendly_name }}
              </a>
              <span class="horiz-bar">|</span></p>
            {% endif %}
            {% if request.user.is_superuser %}
              <span class="text-center mt-1">
                <a class="text-decoration-none" href="{% url 'edit_product' product.id %}">Edit |</a>
                <a onclick="return confirm('Sure you want to delete?')" class="text-decoration-none text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
              </span>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- Dynamic horizontal line that adjusts to all screen sizes -->
      <!-- This for loop counter divisibleby code below was taken from the Boutique ado tutorial video -->
      {% if forloop.counter|divisibleby:1 %}
      <div class="col-12 d-sm-none mb-3 mt-3">
        <hr>
      </div>
      {% endif %}
      {% if forloop.counter|divisibleby:2 %}
      <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-3 mt-3">
        <hr>
      </div>
      {% endif %}
      {% if forloop.counter|divisibleby:3 %}
      <div class="col-12 d-none d-lg-block d-xl-none mb-3 mt-3">
        <hr>
      </div>
      {% endif %}
      {% if forloop.counter|divisibleby:4 %}
      <div class="col-12 d-none d-xl-block mb-3 mt-3">
        <hr>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<br>
<br>
{% endblock %}

<!-- Quick Add to cart button MAY DELETE AS CSS DOESNT LOOK GOOD AS PAGE SIZE IS ADJUSTED -->
<div class="row">
  <div class="col-12">
    <!-- Quick add ot cart -->
    <form action="{% url 'add_to_cart' product.id %}" class="form small" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <div class="input-group mt-1 w-100">
          <!-- Quantity input -->
          <input class="form-control qty_input text-center" type="number" name="quantity" value="1" min="1" max="10"
            data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" style="display: none;">
          <input type="submit" class="btn rounded-0 cart-shopping-button w-100" value="Add to cart">
        </div>
      </div>
      <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </form>
  </div>
</div>