{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- White background overlay -->
<div class="overlay"></div>

<!-- Main page container -->
<div class="container-fluid">

  <!-- Product details Banner -->
  <div class="row">
    <div class="col text-center my-auto px-0">
      <h4 class="page_top_banner text-uppercase text-dark pt-2 mb-2">Product Details
      </h4>
    </div>
  </div>

  <!-- Product Details Row -->
  <div class="row">
    <!-- Product Details - Image -->
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2 px-lg-0">
      <div class="mt-3">
        <!-- If product has an image loop -->
        {% if product.image %}
        <a href="{{ product.image.url }}" target="_blank">
          <img src="{{ product.image.url}}" class="card-img-top img-fluid" alt="{{ product.name }}">
        </a>
        {% else %}
        <!-- Product has no image -->
        <a href="{% url 'product_detail' product.id %}">
          <img src="/media/no_photo/no_photo.png" class="card-img-top img-fluid" alt="{{ product.name }}">
        </a>
        {% endif %}
      </div>
    </div>

    <!-- Product Details -->
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2 ml-0 pl-sm-3 pl-md-3 pr-sm-3 px-lg-0">
      <div class="mt-md-5">
        <!-- Product Name -->
        <p class="font-weight-bold text-dark mb-1 text-center text-md-left"><span class="horiz-bar">|</span>
          {{ product.name }} <span class="horiz-bar">|</span></p>
        <!-- Product Price -->
        <p class="font-weight-bold text-dark mb-1 text-center text-md-left"><span class="horiz-bar">|</span> Price:
          €{{ product.price }} <span class="horiz-bar">|</span></p>
        <!-- Product Rating -->
        {% if product.rating %}
        <p class="px-0 py-0 mb-1 font-weight-bold text-dark text-center text-md-left"><span class="horiz-bar">|</span>
          Rating: &nbsp<i class="fas fa-star-half-alt text-dark"></i>&nbsp{{ product.rating }} / 5 <span
            class="horiz-bar">|</span></p>
        {% else %}
        <p class="list-group-item px-0 py-0 font-weight-bold text-dark text-center text-md-left">Not rated yet</p>
        {% endif %}
        <!-- Product Category If Loop-->
        {% if product.category %}
        <p class="mb-0 text-center text-md-left font-weight-bold text-dark"><span class="horiz-bar">|</span><span
            class="font-weight-bold text-dark"> Category:</span>
          <a class="text-muted text-dark" href="{% url 'products' %}?category={{ product.category.name }}">
            <!-- <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }} -->
            <i class="fas fa-qrcode"></i> {{ product.category.friendly_name }}
          </a>
          <span class="horiz-bar">|</span></p>
        {% endif %}
        <!-- Horizontal Line -->
        <hr>
        <!-- Product description -->
        <p class="font-weight-bold text-dark"><span class="horiz-bar">|
          </span>{{ product.description }}<span class="horiz-bar"> |</span></p>
        <!-- Quantity to be added to the bag-->
        <form action="{% url 'add_to_cart' product.id %}" class="form" method="POST">
          {% csrf_token %}
          <div class="form-row">
            <div class="col-12">
              <p class="mb-1 font-weight-bold text-dark">Quantity:</p>
              <div class="form-group w-50">
                <div class="input-group">

                  <!-- Minus button -->
                  <div class="input-group-append">
                    <button id="decrease-qty_{{ product.id }}" class="btn rounded-0 cart-shopping-button pb-1 decrease-qty" data-item_id="{{ product.id }}">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                  
                  <!-- Quantity input -->
                  <input class="form-control qty_input text-center" type="number" name="quantity" value="1" min="1" max="10"
                    data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                  
                    <!-- Add button -->
                  <div class="input-group-prepend">
                    <button id="increase-qty_{{ product.id }}" class="btn rounded-0 cart-shopping-button pb-1 increase-qty" data-item_id="{{ product.id }}">
                      <i class="fas fa-plus px-auto py-auto"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Back to shopping button -->
            <div class="col-12">
              <a href="{% url 'products' %}" class="btn cart-shopping-button rounded-0">
                <span class="">
                  <i class="fas fa-angle-double-left"></i>
                </span>
                <span class="">Back to shopping</span>
              </a>
              <!-- Add item to shopping cart button -->
              <input type="submit" class="btn rounded-0 cart-shopping-button" value="Add to cart">
            </div>
            <!-- Redirects user back to the same page once the product has been added to the bag -->
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
          </div>
        </form>

        <!-- Horizontal Line -->
        <hr>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}